.wrapper {
    background-color: hsl(0, 0%, 100%);
    padding: 16px 100px 16px 16px;
}
.container {
    position: relative;
}
.content {
    width: 100%;
    display: flex;
}
.right {
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.content__main {
    margin-top: 40px;
    transition-delay: 5s;
}
@media only screen and (max-width: 376px) {
    .wrapper {
        padding: 0;
        background-color: transparent;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .right {
        width: 88%;
        margin-left: 0;
        padding: 33px 25px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        box-shadow: 0 0 10px hsl(229, 24%, 87%);
        position: absolute;
        top: 58%;
    }
    .content__main {
    }
}
